AppBundle\Entity\YelpAccessToken:
    type: entity
    table: yelp_access_token
    id:
        accessToken:
            type: string
            nullable: false
            length: 255
            options:
                fixed: false
            id: true
            column: access_token
    fields:
        created:
            type: datetime
            nullable: false
            options:
                default: CURRENT_TIMESTAMP
        expired:
            type: datetime
            nullable: false
            options:
                default: '0000-00-00 00:00:00'
    lifecycleCallbacks: {  }
